arrow==0.15.5
attrs==16.3.0
backoff==1.8.0
backports.zoneinfo==0.2.1
ciso8601==2.2.0
jsonschema==2.6.0
mysql-replication==0.22
pendulum==1.2.0
psycopg2==2.8.5
psycopg2-binary==2.8.5
PyMySQL==0.9.3
python-dateutil==2.8.2
pytz==2018.4
pytz-deprecation-shim==0.1.0.post0
pytzdata==2020.1
simplejson==3.11.1
singer-python==5.9.0
singer-target-postgres==0.2.4
six==1.16.0
tap-mysql==1.17.5
tzdata==2022.2
tzlocal==4.2
